body {
    font-family:cursive;
    font-size: 20px;
    line-height: 30px;
    background-color: #2e3141;
    color: white;

}

header ul{
   
    padding: 0;
    color:aqua;
    
}

nav {
    display: inline-block;
    width: 100%;
    
}

header ul li {
    display: inline-block;
    margin-right: 10px;}


a{
    color:rgb(219, 132, 175)
}

#bienvenidos{
    color: white;
    font-size: 50px;

}


.section0{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}


.proyectos
{
    display: flex;
    flex-direction:row;
    
}

#fotolaura{
    border-radius: 20px;
}
.imgpagina{

}

.proyectos section{
    padding: 0.5em;
    margin: 6px;
    background-color: #353849;
    border-radius: 20px;
}


#footer{
    text-align: center;
}


.header{
    text-align: center;

}
h1{
    text-align: center;
}



    