* {
    font-family:cursive;
    line-height: 40px;
    background-color: #DFD5D2;
}


header ul{
    margin: 20px 0 0 0;
    padding: 0;
    color: #070505;
}
nav {
    display: inline-block;
    width: 100%;
}

header ul li {
    display: inline-block;
    margin-right: 10px;}


#bienvenidos{
    color: rgb(202, 51, 5);

}

.section1{

}


.header{
    text-align: center;

}

